.top-menu-bar{
	margin-left: 25%;
	margin-right: 25%;
	background: #eee;
	margin-top: 12px;
	margin-bottom: 12px;
	border-width: 2px;
	border-radius: 5px;
	border-style: solid;
	border-color: #00539f;
	padding: 10px;
	box-shadow: 0px 3px 3px gray;
}

.bottom-menu-bar{
	margin-left: 10%;
	margin-right: 10%;
	background: #eee;
	margin-top: 12px;
	margin-bottom: 12px;
	border-width: 2px;
	border-radius: 5px;
	border-style: solid;
	border-color: #00539f;
	padding: 10px;
	box-shadow: 0px 3px 3px gray;
}
.side-description{
	margin-left: 1%;
	margin-right: 1%;
	float: right;
	width: 200px;
	height: 450px;
	background: #eee;
	margin-top: 12px;
	margin-bottom: 12px;
	border-width: 2px;
	border-radius: 5px;
	border-style: solid;
	border-color: #00539f;
	padding: 5px;
	box-shadow: 0px 3px 3px gray;
}

button{
	margin-right: 4px !important;
	margin-left: 4px !important;
	box-shadow: 2px 2px 2px gray;
	border: solid lightgray 1px;
	background-color: white
}

button:hover {
	box-shadow: 0px 2px 2px gray;
}

#heading{
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 10px;
	background: #00539f;
	text-align: center;
	border-radius: 5px;
	color: #ffffff;
	padding: 10px 0px;
	box-shadow: 0px 3px 3px gray;
	border: solid gray 1px;
}

#canvas{
	height: 550px;
	margin-left: 10%;
	margin-right: 10%;
	background:white;
	overflow:scroll;
	display: block;
	position: relative;
	border: solid gray 1px;
}

canvas{
	position: absolute;
}

.funcBtn {
	padding: 10px 10px;
	border: solid gray 1px;
	font-weight: bold;
}

img {
	height: 68px;
	width: 68px;
}


